:root{
  --primary: #34C94B;
  --dark: #121212;
  --light: #FFFFFF;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  background-color: #121212;
}

button{
  cursor: pointer;
}
