.heroSection{
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    gap: 32px;
}

.heroText p{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
}