.button{
    background-color: #121212;
    color: #34C94B;
    border: 1px;
    border-radius: 8px;
    padding: 10px 16px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.25px;
    line-height: 27px;
}